.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: #fff;
  width: 80%;
  border-radius: 10px;
  padding: 15px;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 8px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
